<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
</head>
<body>
    <div id="container">
        <div class="top-bar">
            <div class="school-div">
                <span class="school-name">未选择</span>
                <span class="fa fa-caret-down" style="margin-left: 6px;"></span>
            </div>
            <div class="nav-div">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
                    <li class="layui-nav-item"><a href="videos.html">视频学习</a></li>
                    <li class="layui-nav-item"><a href="material.html">考研资料</a></li>
                    <li class="layui-nav-item"><a href="examination.html">在线考试</a></li>
                    <li class="layui-nav-item"><a href="exam.html">题库</a></li>
                    <li class="layui-nav-item"><a href="kaoyannews.html">考研资讯</a></li>
                    <li class="layui-nav-item"><a href="forum.html">论坛</a></li>
                    <li class="layui-nav-item"><a href="wodata.html">蜗数据</a></li>
                    <li class="layui-nav-item"><a href="personalcenter.html">个人中心</a></li>
                </ul>
            </div>
            <div class="sign-register">
                 登录｜注册
<!--                <img src="../img/head.jpg" alt="" class="head-logo">&nbsp;&nbsp;Gang-->
            </div>
        </div>
        <div class="top-bar-none"></div>
        <div class="con-index">
            <!-- 轮播 -->
            <div class="index-carousel">
                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <img src="../img/5.jpg" alt="">
                        <img src="../img/5.jpg" alt="">
                        <img src="../img/5.jpg" alt="">
                        <img src="../img/5.jpg" alt="">
                        <img src="../img/5.jpg" alt="">
                        <img src="../img/5.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- 蜗数据 -->
            <div class="wodata">
                <div class="title-wodata">蜗数据
                    <a href="wodata.html" class="lookmore">查看更多></a>
                </div>
                <div id="chart0"></div>
            </div>
            <!-- 视频学习 -->
            <div class="index-newgood">
                <div class="title-newgood">视频学习
                    <a href="videos.html" class="lookmore">查看更多></a>
                </div>
                <div class="newgood-box clearfix">
                    <div class="a-newgood-box">
                        <div class="top-img-div"></div>
                        <div class="newgood-des">
                            测试文字测试文字测试文字测试文字试文字测试文字测试文
                        </div>
                        <div class="newgood-bottom clearfix">
                            <div class="newgood-price">¥99.99</div>
                            <div class="newgood-havebuy">111人已购买</div>
                        </div>
                    </div>
                    <div class="a-newgood-box">
                        <div class="top-img-div"></div>
                        <div class="newgood-des">
                            测试文字测试文字测试文字测试文字试文字测试文字测试文
                        </div>
                        <div class="newgood-bottom clearfix">
                            <div class="newgood-price">¥99.99</div>
                            <div class="newgood-havebuy">111人已购买</div>
                        </div>
                    </div>
                    <div class="a-newgood-box">
                        <div class="top-img-div"></div>
                        <div class="newgood-des">
                            测试文字测试文字测试文字测试文字试文字测试文字测试文
                        </div>
                        <div class="newgood-bottom clearfix">
                            <div class="newgood-price">¥99.99</div>
                            <div class="newgood-havebuy">111人已购买</div>
                        </div>
                    </div>
                    <div class="a-newgood-box">
                        <div class="top-img-div"></div>
                        <div class="newgood-des">
                            测试文字测试文字测试文字测试文字试文字测试文字测试文
                        </div>
                        <div class="newgood-bottom clearfix">
                            <div class="newgood-price">¥99.99</div>
                            <div class="newgood-havebuy">111人已购买</div>
                        </div>
                    </div>
                    <div class="a-newgood-box">
                        <div class="top-img-div"></div>
                        <div class="newgood-des">
                            测试文字测试文字测试文字测试文字试文字测试文字测试文
                        </div>
                        <div class="newgood-bottom clearfix">
                            <div class="newgood-price">¥99.99</div>
                            <div class="newgood-havebuy">111人已购买</div>
                        </div>
                    </div>
                    <div class="a-newgood-box">
                        <div class="top-img-div"></div>
                        <div class="newgood-des">
                            测试文字测试文字测试文字测试文字试文字测试文字测试文
                        </div>
                        <div class="newgood-bottom clearfix">
                            <div class="newgood-price">¥99.99</div>
                            <div class="newgood-havebuy">111人已购买</div>
                        </div>
                    </div>
                    <div class="a-newgood-box">
                        <div class="top-img-div"></div>
                        <div class="newgood-des">
                            测试文字测试文字测试文字测试文字试文字测试文字测试文
                        </div>
                        <div class="newgood-bottom clearfix">
                            <div class="newgood-price">¥99.99</div>
                            <div class="newgood-havebuy">111人已购买</div>
                        </div>
                    </div>
                    <div class="a-newgood-box">
                        <div class="top-img-div"></div>
                        <div class="newgood-des">
                            测试文字测试文字测试文字测试文字试文字测试文字测试文
                        </div>
                        <div class="newgood-bottom clearfix">
                            <div class="newgood-price">¥99.99</div>
                            <div class="newgood-havebuy">111人已购买</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 考研资料 -->
            <div class="bestma-div">
                <div class="index-bestma">
                    <div class="title-bestma">考研资料<a href="material.html" class="lookmore">查看更多></a></div>
                    <div class="bsetma-box clearfix">
                        <!-- <div class="a-bestma-box clearfix">
                            <div class="a-bestma-left">
                                <div class="bg1"></div>
                                <div class="bg2"></div>
                                <div class="bg3"></div>
                            </div>
                            <div class="a-bestma-right">
                                <div class="a-bestma-title">测啊诗文测试文字测试文字测试嗯字</div>
                                <div class="a-bestma-des">测啊诗文测试文字测试文字测试嗯字测啊诗文测试文字测试文字测试嗯字测啊诗文测试文字测试文字测试嗯字</div>
                                <div class="a-bestma-bottom clearfix">
                                    <div class="a-bestma-price">¥49.00</div>
                                    <div class="a-bestma-havebuy">111人已购买</div>
                                </div>
                            </div>
                        </div> -->
                        <div class="m-div">
                            <div class="m-div-top">
                                <div class="m-div-top-img" style="background:url(../img/1.jpg);background-size:100% 100%;"></div>
                                <div class="m-div-label">计算机</div>
                            </div>
                            <div class="m-div-bottom">
                                <div class="m-div-title">测试文字测试文字测试文字</div>
                                <div class="m-div-intro">
                                    上次的升级版电视剧蛋壳你打开那卡蛋壳拿上卡上蛋壳多久啊是
                                </div>
                                <div class="m-div-ppp">
                                    <span class="m-span-price">¥8.88</span>
                                    <span class="m-span-comment">999人已购买</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-div">
                            <div class="m-div-top">
                                <div class="m-div-top-img" style="background:url(../img/1.jpg);background-size:100% 100%;"></div>
                                <div class="m-div-label">计算机</div>
                            </div>
                            <div class="m-div-bottom">
                                <div class="m-div-title">测试文字测试文字测试文字</div>
                                <div class="m-div-intro">
                                    上次的升级版电视剧蛋壳你打开那卡蛋壳拿上卡上蛋壳多久啊是
                                </div>
                                <div class="m-div-ppp">
                                    <span class="m-span-price">¥8.88</span>
                                    <span class="m-span-comment">999人已购买</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-div">
                            <div class="m-div-top">
                                <div class="m-div-top-img" style="background:url(../img/1.jpg);background-size:100% 100%;"></div>
                                <div class="m-div-label">计算机</div>
                            </div>
                            <div class="m-div-bottom">
                                <div class="m-div-title">测试文字测试文字测试文字</div>
                                <div class="m-div-intro">
                                    上次的升级版电视剧蛋壳你打开那卡蛋壳拿上卡上蛋壳多久啊是
                                </div>
                                <div class="m-div-ppp">
                                    <span class="m-span-price">¥8.88</span>
                                    <span class="m-span-comment">999人已购买</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-div">
                            <div class="m-div-top">
                                <div class="m-div-top-img" style="background:url(../img/1.jpg);background-size:100% 100%;"></div>
                                <div class="m-div-label">计算机</div>
                            </div>
                            <div class="m-div-bottom">
                                <div class="m-div-title">测试文字测试文字测试文字</div>
                                <div class="m-div-intro">
                                    上次的升级版电视剧蛋壳你打开那卡蛋壳拿上卡上蛋壳多久啊是
                                </div>
                                <div class="m-div-ppp">
                                    <span class="m-span-price">¥8.88</span>
                                    <span class="m-span-comment">999人已购买</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-div">
                            <div class="m-div-top">
                                <div class="m-div-top-img" style="background:url(../img/1.jpg);background-size:100% 100%;"></div>
                                <div class="m-div-label">计算机</div>
                            </div>
                            <div class="m-div-bottom">
                                <div class="m-div-title">测试文字测试文字测试文字</div>
                                <div class="m-div-intro">
                                    上次的升级版电视剧蛋壳你打开那卡蛋壳拿上卡上蛋壳多久啊是
                                </div>
                                <div class="m-div-ppp">
                                    <span class="m-span-price">¥8.88</span>
                                    <span class="m-span-comment">999人已购买</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-div">
                            <div class="m-div-top">
                                <div class="m-div-top-img" style="background:url(../img/1.jpg);background-size:100% 100%;"></div>
                                <div class="m-div-label">计算机</div>
                            </div>
                            <div class="m-div-bottom">
                                <div class="m-div-title">测试文字测试文字测试文字</div>
                                <div class="m-div-intro">
                                    上次的升级版电视剧蛋壳你打开那卡蛋壳拿上卡上蛋壳多久啊是
                                </div>
                                <div class="m-div-ppp">
                                    <span class="m-span-price">¥8.88</span>
                                    <span class="m-span-comment">999人已购买</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-div">
                            <div class="m-div-top">
                                <div class="m-div-top-img" style="background:url(../img/1.jpg);background-size:100% 100%;"></div>
                                <div class="m-div-label">计算机</div>
                            </div>
                            <div class="m-div-bottom">
                                <div class="m-div-title">测试文字测试文字测试文字</div>
                                <div class="m-div-intro">
                                    上次的升级版电视剧蛋壳你打开那卡蛋壳拿上卡上蛋壳多久啊是
                                </div>
                                <div class="m-div-ppp">
                                    <span class="m-span-price">¥8.88</span>
                                    <span class="m-span-comment">999人已购买</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-div">
                            <div class="m-div-top">
                                <div class="m-div-top-img" style="background:url(../img/1.jpg);background-size:100% 100%;"></div>
                                <div class="m-div-label">计算机</div>
                            </div>
                            <div class="m-div-bottom">
                                <div class="m-div-title">测试文字测试文字测试文字</div>
                                <div class="m-div-intro">
                                    上次的升级版电视剧蛋壳你打开那卡蛋壳拿上卡上蛋壳多久啊是
                                </div>
                                <div class="m-div-ppp">
                                    <span class="m-span-price">¥8.88</span>
                                    <span class="m-span-comment">999人已购买</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 在线考试 -->
            <div class="lately-exam">
                <div class="title-lately">在线考试<a href="examination.html" class="lookmore">查看更多></a></div>
                <div class="exam-title">
                    <div class="exam-name">考试名称</div>
                    <div class="exam-begin-time">开始时间</div>
                    <div class="exam-end-time">结束时间</div>
                    <div class="exam-status">状态</div>
                    <div class="exam-subject">考试科目</div>
                    <div class="exam-type">专业课/公共课</div>
                    <div class="exam-do">操作</div>
                </div>
                <div class="exam-box">
                    <div class="a-exam-box">
                        <div class="exam-name"><span class="layui-badge-dot layui-bg-green right8px"></span>极限和连续</div>
                        <div class="exam-begin-time">2019-11-22 12:00</div>
                        <div class="exam-end-time">2019-11-24 12:00</div>
                        <div class="exam-status status-green">进行中</div>
                        <div class="exam-subject">高等数学</div>
                        <div class="exam-type">公共课</div>
                        <div class="exam-do">
                            <button type="button" class="layui-btn layui-btn-sm btn-begin">进入考试</button>
                        </div>
                    </div>
                    <div class="a-exam-box">
                        <div class="exam-name"><span class="layui-badge-dot layui-bg-red right8px"></span>极限和连续</div>
                        <div class="exam-begin-time">2019-11-22 12:00</div>
                        <div class="exam-end-time">2019-11-24 12:00</div>
                        <div class="exam-status status-red">已结束</div>
                        <div class="exam-subject">高等数学</div>
                        <div class="exam-type">公共课</div>
                        <div class="exam-do">
                            <button type="button" class="layui-btn layui-btn-sm btn-begin">查看</button>
                        </div>
                    </div>
                    <div class="a-exam-box">
                        <div class="exam-name"><span class="layui-badge-dot layui-bg-blue right8px"></span>极限和连续</div>
                        <div class="exam-begin-time">2019-11-22 12:00</div>
                        <div class="exam-end-time">2019-11-24 12:00</div>
                        <div class="exam-status status-blue">报名中</div>
                        <div class="exam-subject">高等数学</div>
                        <div class="exam-type">公共课</div>
                        <div class="exam-do">
                            <button type="button" class="layui-btn layui-btn-sm btn-begin">报名</button>
                        </div>
                    </div>
                    <div class="a-exam-box">
                        <div class="exam-name"><span class="layui-badge-dot layui-bg-green right8px"></span>极限和连续</div>
                        <div class="exam-begin-time">2019-11-22 12:00</div>
                        <div class="exam-end-time">2019-11-24 12:00</div>
                        <div class="exam-status status-green">进行中</div>
                        <div class="exam-subject">高等数学</div>
                        <div class="exam-type">公共课</div>
                        <div class="exam-do">
                            <button type="button" class="layui-btn layui-btn-sm btn-begin">进入考试</button>
                        </div>
                    </div>
                    <div class="a-exam-box">
                        <div class="exam-name"><span class="layui-badge-dot layui-bg-red right8px"></span>极限和连续</div>
                        <div class="exam-begin-time">2019-11-22 12:00</div>
                        <div class="exam-end-time">2019-11-24 12:00</div>
                        <div class="exam-status status-red">已结束</div>
                        <div class="exam-subject">高等数学</div>
                        <div class="exam-type">公共课</div>
                        <div class="exam-do">
                            <button type="button" class="layui-btn layui-btn-sm btn-begin">查看</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 题库 -->
            <div class="recommend-itembank-div">
                <div class="recommend-itembank">
                    <div class="title-itembank">题库<a href="exam.html" class="lookmore">查看更多></a></div>
                    <div class="con-itembank clearfix">
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                        <div class="a-itembank-box">
                            <div class="a-itembank">
                                <h1>浙江大学高等数学模拟测试题库</h1>
                                <div class="a-itembank-logo">
                                    <img src="../img/zjdx.jpg" alt="" class="logo-img">
                                </div>
                                <div class="a-itembank-hot">热度指数：19</div>
                                <div class="a-itembank-give">
                                    <div>学姐提供</div>
                                    <div>共11道题</div>
                                </div>
                                <div class="btn-begin-itembank">开始答题</div>
                            </div>
                            <div class="nandu">
                                <span class="star-t">难度系数:</span>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <i class="layui-icon layui-icon-rate-solid star-style"></i>
                                <!-- <i class="layui-icon layui-icon-rate-solid star-style"></i> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="con-footer">
            <div>
                蜗研简介 ┊ 联系我们 ┊ 意见反馈 ┊ 免责声明
            </div>
            <div>
                © 2018 - 2019 woyanwang. All Rights Reserved.如有问题请发邮件到 414709943@qq.com
            </div>
        </div>
    </div>
    <div class="index-consultation">
        <img src="../img/qq.jpg" alt="" class="contact-img" title="qq"><br/>
        <img src="../img/wechat.png" alt="" class="contact-img" title="微信">
    </div>
    <div id="signInBlock" v-if="signIsShow">
        <div class="block-white">
            <!-- 退出登录 -->
            <div class="sign-xxx">
                <span class="fa fa-close sign-fa-xxx" @click="btnSignX"></span>
            </div>
            <!-- 登录注册切换 -->
            <div class="top">
                <div class="top-sign" :class="{ activeBorderColor: SignIsActive }" @click="btnS">登录</div>
                <div class="top-register" :class="{ activeBorderColor: isActive }" @click="btnR">注册</div>
            </div>
            <!-- 登录板块 -->
            <div class="center" v-if="nowSign">
                <div class="center-acc">
                    <span class="fa fa-user sign-fa-style"></span>
                    <input type="text" placeholder="请输入账号" v-model="signAccount">
                </div>
                <div class="center-pass">
                    <span class="fa fa-lock sign-fa-style"></span>
                    <input type="password" placeholder="请输入密码" v-model="signPassword">
                </div>
                <div class="btn-sign" @click="btnSign">登录</div>
            </div>
            <!-- 注册板块 -->
            <div class="center-register" v-else>
                <div v-if="register_step">
                    <div class="center-register-account">
                        <span class="fa fa-user sign-fa-style"></span>
                        <input type="text" placeholder="请输入用户名" v-model="registerAccount">
                    </div>
                    <div class="center-register-password">
                        <span class="fa fa-lock sign-fa-style"></span>
                        <input type="password" placeholder="请输入密码" v-model="registerPassword">
                    </div>
                    <div class="center-register-phoneNumber">
                        <span class="fa fa-phone sign-fa-style"></span>
                        <input type="text" placeholder="请输入手机号" v-model="registerPhone">
                    </div>
                    <div class="center-register-VerificationCode">
                        <input type="text" placeholder="请输入短信验证码" v-model="registerVerificationCode">
                        <button class="getCodeDiv" @click="btnGetCode" :disabled="btnIsActive">{{textCode}}</button>
                    </div>
                    <div class="btn-next-step" @click="btnNextStep">下一步</div>
                </div>
                <div v-else>
                    <div class="center-register-school" @click="btnSchool1">
                        <span class="fa fa-book sign-fa-style"></span>
                        <input type="text" placeholder="选择目前就读院校" v-model="registerSchool1">
                    </div>
                    <div class="center-register-year">
                        <span class="fa fa-hourglass-2 sign-fa-style"></span>
                        <input type="text" placeholder="输入考研年份" v-model="registerYear">
                    </div>
                    <div class="center-register-school" @click="btnSchoolO">
                        <span class="fa fa-book sign-fa-style"></span>
                        <input type="text" placeholder="选择目标院校" v-model="registerSchool">
                    </div>
                    <div class="center-register-object" @click="btnObject">
                        <span class="fa fa-mortar-board sign-fa-style"></span>
                        <input type="text" placeholder="选择报考的专业" v-model="registerObject">
                    </div>
                    <div class="center-register-isover">
                        如果你是跨专业考生请在这里打钩
                        <input type="checkbox" class="isOverObject" v-model="isChecked">
                    </div>
                    <div class="btn-sign" @click="btnRegister">注册</div>
                </div>
            </div>
        </div>
    </div>
    <div id="con-school">
        <div class="school-block">
            <div class="block-top">
                <div class="top-area">
                    地区选择 >
                </div>
                <div class="top-area-a"></div>
            </div>
            <hr>
            <div class="block-top">
                <div class="top-area">
                    可选学校 >
                </div>
                <div class="center-right"></div>
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>