.center-news{
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 50px;
}
/* 新闻页左半部分 */
.center-news-left{
    width: 790px;
    margin-top: 10px;
    float: left;
}
/* 分类 */
.news-left-type{
    width: 750px;
    padding: 20px;
    background: rgb(243, 243, 243);
    margin-top: 10px;
}
.type-ul{
    list-style: none;
}
.type-ul-li{
    /* float: left; */
    display: inline-block;
    margin-right: 28px;
    padding: 2px 10px;
    margin-bottom: 10px;
    color: rgb(56, 56, 56);
    cursor: pointer;
}
.type-li-active{
    color: rgb(255, 255, 255);
    background: rgb(0,183,85);
}
.latelynews-t{
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
/* 新闻列表 */
.news-box{
    margin-top: 10px;
}
.a-news-box{
    width: 770px;
    height: 160px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    /* box-shadow: 0px 0px 0px 0px grey; */
}
.a-news-box:hover{
    box-shadow: 0px 0px 8px -2px grey;
}
.news-img-box{
    height: 160px;
    width: 240px;
    overflow: hidden;
    float: left;
}
.news-img-box:hover .news-img{
    transform: scale(1.2);
}
.news-img{
    width: 240px;
    height: 160px;
    /* background: url(../img/1.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}
.news-mess{
    width: 510px;
    height: 160px;
    float: left;
    padding-left: 20px;
}
.news-title{
    height: 70px;
    width: 510px;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 1px;
}
.news-title-m{
    height: 70px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.news-from{
    height: 20px;
    width: 510px;
    color: rgb(153, 153, 153);
    font-size: 12px;
}
.news-from-left{
    float: left;
}
.news-from-right{
    float: right;
}
.news-theme{
    color: rgb(0,183,85);
}
.btn-more-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn-more{
    width: 110px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid rgb(0,183,85);
    color: rgb(0,183,85);
    cursor: pointer;
}
/* 新闻页右半部分 */
.center-news-right{
    width: 300px;
    margin-top: 10px;
    float: right;
}
/* 小号的推荐框 */
.a-recommend-box-s{
    width: 140px;
    height:140px;
    float: left;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    overflow: hidden;
}
.recommend-box-s-t{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.8));
    margin-top: 42px;
    transition: all 0.5s;
}
.a-recommend-box-s:hover .recommend-box-s-t{
    margin-top: 0;
}
.box-s-text{
    color: #ffffff;
    position: relative;
    top: 55px;
    height: 40px;
    padding: 6px;
    letter-spacing: 2px;
    font-size: 13px;
}

/* 考研时间表 */
.time-text{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 40px;
}