*{
    padding: 0;
    margin: 0;
}
.clearfix{
    content: "";
    clear: both;
    display: block;
}
body{
    background: rgb(245, 245, 245);
}
.center-post{
    width: 924px;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.post-nav{
    color: rgb(156, 156, 156);
    line-height: 38px;
}
.post-con{
    width: 100%;
}
.post-title-div{
    width: 70%;
    height: 40px;
    background: rgb(231, 231, 231);
    line-height: 40px;
    margin-top: 10px;
}
.inp-post-title{
    width: 90%;
    height: 36px;
    background: transparent;
    border: none;
    outline: none;
    text-indent: 8px;
}
.count-word-num{
    color: rgb(0, 183, 85);
    margin-left: 6px;
}
/* 富文本 */
#editor2{
    border: 1px solid #ccc;
    min-height: 550px;
}
.top-bar{
    z-index: 99999;
}
#con-school,#signInBlock{
    z-index: 99999;
}
/* 选择标签 */
.post-label-div,.post-type-div{
    margin-top: 18px;
}
.add-label,.add-label-type{
    color: rgb(0, 183, 85);
    cursor: pointer;
}
.label-array-div,.type-array-div{
    margin-left: 74px;
    margin-top: 10px;
}
.label-array-t,.type-array-t{
    color: rgb(156, 156, 156);
    font-size: 12px;
    margin-top: 10px;
}
.label-array,.type-array{
    width: 200px;
    background: #ffffff;
    padding: 18px;
    border-radius: 8px;
    display: none;
}
.label-style,.type-style{
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid transparent;
    margin-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
    margin-right: 8px;
}
.label-style-active,.type-style-active{
    border: 1px solid rgb(0, 183, 85);
    background: rgb(0, 183, 85);
    color: #ffffff;
    border-radius: 4px;
}
.btn-fabu{
    width: 80px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-top: 24px;
    color: #ffffff;
    background: rgb(0, 183, 85);
    cursor: pointer;
}